*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: aqua;
}
.logo-wrapper{
    height: 30px;
    width: 20%;
}
.logo{
    width: ;
    height: 100%;
}
.content{
    display: flex;
    height: 30%;
    justify-content: center;
    text-align: center;
    background-color: orange;
    width: 100%;
}
.menu-wrapper{
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 50%;
}
.menu{
    height: 50%;
    text-align: center;
    /* display: flex; */
    justify-content: space-evenly;
}
.menu-list{
    font-weight: 700;
    /* display: flex;
    justify-content: space-around;
     */
}