*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.6;
    font-size: 15px;
}
.global-wrapper {
    margin: 0 auto 0 60px;
    width: 1200px;
}
body {
    font-family: opensans,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.heading-wrapper {
    height: 100px;
}
.logo-wrapper {
    height: 50%;
    display: flex;
    width: 100%;
}
.logo {
    height: 100%;
}
.company-logo {
    width: 150px;
    align-items: center;
    height: 100%;
}
.menu-wrapper {
    position: relative;
    height: 50%;
    width: 100%;
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
    /* width: 1282px 36px; */
}
.menu {display: flex;
    padding: 6px 0;

}
.menu-item {
    padding-right: 20px;
    font-weight: 600;
}
.middle-wrapper {
    /* display: flex; */
}
.middle {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    /* display: flex; */
}
.mid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 --1rem;
    /* max-width: 100%; */
}
.mi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.ontent2-wrapper {
    padding: 5px;
    width: 100%;
    margin: auto;
    position: relative;
}
.content2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content2-left {
    width: 50%;
    padding-right: 5px;
}

.cl1 {
    font-weight: 600;
    margin-bottom: 4px;
}
.cl2 {
    margin-bottom: 56px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: poppins,sans-serif;
}
.cl3 {
    width: 220px;
}
.cl4 {
    /* min-height: 1px; */
    /* padding: auto; */
}
.content2-right {
    width: 50%;
    padding-left: 5px;
    display: flex;
    justify-content: flex-end;
}
.cr2 {
    margin-bottom: 2rem;
    line-height: 1.75;
}
.cr4 {
    margin-bottom: 2rem;
    line-height: 1.75;
}
.content3-wrapper {
    /* display: flex; */
}
.content3 {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.test {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.cont3-1{
    width: 25%;
    display: flex;
    /* display: flex; */
    flex-wrap: wrap;
}
.image2-1 {
    /* padding: 7px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
/* .image2-2 {
    padding: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2-3 {
    padding: 7px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2-4 {
    padding: 7px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
} */